In [1]:
from nanograd.nn import Linear
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
csv = r"dataset\couple_of_points.csv"
data = pd.read_csv(csv)
data

    x   y
0   2   6
1   4   5
2   5   8
3   8   8
4  10   7
5  12   8
6  13  11
7  16  12
8  18  10

In [32]:
model = Linear(n_inputs=1)

In [33]:
lr = 0.001
for _ in range(1000):
    pred = [model([x]) for x in data.x]
    loss = sum((gth-ylbl) for gth, ylbl in zip(pred, data.y))/len(data.y)
    loss.zero_grad()
    loss.backward()
    for p in model.parameters():
        p.data -= lr * p.grad  
print(loss)

x_ = np.linspace(0, 20, 10)
pred = [model([i]).item() for i in x_]
plt.plot(x_,pred, label=r'$x = 2y$ or $y = \frac{x}{2}$')
plt.scatter(data.x, data.y)

TypeError: bad operand type for abs(): 'Scalar'